:root {
	--bg-color: rgb(20, 20, 20);
	--card-color: rgb(23, 23, 23);
}

body {
	display: flex;
	overflow: hidden;

	height: 100vh;
	margin: 0;
	padding: 0;

	align-items: center;
	justify-content: center;

	background: var(--bg-color);
}

#cards {
	display: flex;
	flex-wrap: wrap;

	width: calc(100% - 20px);
	max-width: 916px;

	gap: 8px;
}

#cards:hover > .card > .card-border {
	opacity: 1;
}

.card {
	cursor: pointer;
	position: relative;

	width: 300px;
	height: 260px;

	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
}

.card:hover::before {
	opacity: 1;
}

.card::before,
.card>.card-border {
	position: absolute;

	width: 100%;
	height: 100%;

	content: "";

	border-radius: inherit;

	opacity: 0;
	transition: opacity 500ms;
}

.card::before {
	z-index: 3;

	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%);
}

.card>.card-border {
	z-index: 1;

	background: radial-gradient(
		400px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.3),
		transparent 40%);
}

.card>.card-content {
	z-index: 2;
	position: relative;

	height: calc(100% - 2px);
	width: calc(100% - 2px);

	margin: 1px;

	border-radius: inherit;
	background: var(--card-color);
}